<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Stock App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="layout">
        <aside class="sidebar">
          <h2>Menu</h2>
          <ul>
            <% if current_user.is_admin? %>
              <li><%= link_to 'Dashboard', admin_root_path %></li>
              <li><%= link_to 'Traders', admin_traders_path %></li>
              <li><%= link_to 'Transactions', admin_transactions_path %></li>
            <% else %>
              <li><%= link_to 'Home', trader_root_path %></li>
              <li><%= link_to 'Trade', search_trader_stocks_path %></li>
              <li><%= link_to 'Portfolio', trader_stocks_path %></li>
              <li><%= link_to 'Transactions', trader_transactions_path %></li>
            <% end %>
          </ul>
          <div class="logout-container">
            <%= link_to destroy_user_session_path, 
                class: "logout-button",
                data: { "turbo-method": :delete } do %>
              Log out
            <% end %>
          </div>
        </aside>

        <main class="content">
          <% if flash[:notice] %>
            <div class="flash notice"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert] %>
            <div class="flash alert"><%= flash[:alert] %></div>
          <% end %>
          <%= yield %>
        </main>
      </div>
    <% else %>
      <% if flash[:notice] %>
        <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    <% end %>
  </body>
</html>
